include BLIMMP_Scripts/Graph_Dependencies/KEGG_Graphs_Generated_March26.zip
include BLIMMP_Scripts/Graph_Dependencies/*.json
include BLIMMP_Scripts/Graph_Dependencies/MODULE_ALL_NEIGHBOR_DATA/*.json
include BLIMMP_Scripts/Data_Dependencies/*.txt
include BLIMMP_Scripts/Data_Dependencies/*.json
include BLIMMP_Scripts/Data_Dependencies/ATB_Taxonomy_Frequency/*.tsv
